


/* PC */
@media (min-width: 992px) {

}

/* TABLET & MOBILE */
@media (max-width: 991.98px) {
    /* 1. Ẩn navbar trên tablet và mobile */
    .navbar {
        display: none;
    }

    /* 2. Chuyển logo vào giữa */
    .header-top {
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        /* Chuyển logo ra  giữa */
        translate: -50% -50%;
    }

    /* 3. Căn lại vị trí của menu icon */
    .menu-header__icon {
        position: absolute;
        top: 38px;
        left: 26px;
        color: #fff;
        width: 24px;
    }

    /* 4. Overlay */
    .menu-overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.3);
        inset: 0;
        z-index: 1;
        /* Bình thường ẩn overplay đi */
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
    }

    /* 5. Kiểm tra nếu checkbox được check thì hiện overlay */
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

}


/* TABLET */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* MOBILE */
@media (max-width: 767.98px) {

}

/* Tạm ẩn phần không liên quan */
.hero,
.footer,
.main {
    display: none;
}